<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        Your specials attacks: {{ specialAttacksTries }}
    </section>
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width : humanScore +'%'}">
                    {{ getHumanScorePercentage() }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width : monsterScore +'%'}">
                    {{ getMonsterScorePercentage() }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!isGameStarted">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame()">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-if="isGameStarted">
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="recovery">HEAL</button>
            <button id="give-up" @click="giveUpGame()">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-show="gameOver">
        <div>{{ gameOverMessage }}</div>
    </section>
    <section class="row log" v-show="hits.length">
        <div class="small-12 columns">
            <ul>
                <li v-for="hit in hits" :class="{'monster-turn': !hit.isPlayer, 'player-turn': hit.isPlayer}">
                    {{ hit.message }}
                </li>
            </ul>
        </div>
    </section>
</div>

<script src="app.js"></script>
</body>
</html>